<h1>Create a New Appointment</h1>

<form method="POST" action="/appointments">
<div>
<label for="week_number"><h2>Choose Week</h2></label>
<select name="appointment[week_number]">
    <option value="">--Please choose an option--</option>
    <option value="35" name="week1">Week 1, <%=Date.commercial(2020, 35)%></option>
    <option value="36" name="week1">Week 2, <%=Date.commercial(2020, 36)%></option>
    <option value="37" name="week1">Week 3, <%=Date.commercial(2020, 37)%></option>
    <option value="38" name="week1">Week 4, <%=Date.commercial(2020, 38)%></option>
    <option value="39" name="week1">Week 5, <%=Date.commercial(2020, 39)%></option>
    <option value="40" name="week1">Week 6, <%=Date.commercial(2020, 40)%></option>
    <option value="41" name="week1">Week 7, <%=Date.commercial(2020, 41)%></option>
    <option value="42" name="week1">Week 8, <%=Date.commercial(2020, 42)%></option>
    <option value="43" name="week1">Week 9, <%=Date.commercial(2020, 43)%></option>
    <option value="44" name="week1">Week 10, <%=Date.commercial(2020, 44)%></option>
    <option value="45" name="week1">Week 11, <%=Date.commercial(2020, 45)%></option>
    <option value="46" name="week1">Week 12, <%=Date.commercial(2020, 46)%></option>
    <option value="47" name="week1">Week 13, <%=Date.commercial(2020, 47)%></option>
    <option value="48" name="week1">Week 14, <%=Date.commercial(2020, 48)%></option>
    <option value="49" name="week1">Week 15, <%=Date.commercial(2020, 49)%></option>
</select><br><br>
</div>
<br>

<div>
<h2>Days of the Week</h2>
<input type="checkbox" id="monday" name="appointment[day]" value="1">
<label for="monday">Monday</label><br>

<input type="checkbox" id="tuesday" name="appointment[day]" value="2">
<label for="tuesday">Tuesday</label><br>

<input type="checkbox" id="wednesday" name="appointment[day]" value="3">
<label for="wednesday">Wednesday</label><br>

<input type="checkbox" id="thursday" name="appointment[day]" value="4">
<label for="thursday">Thursday</label><br>

<input type="checkbox" id="friday" name="appointment[day]" value="5">
<label for="friday">Friday</label><br>
</div>
<br>
<div>
<h2>Times Available</h2>
<input type="checkbox" id="morning1" name="appointment[time]" value=9>
<label for="morning1">9:00am-9:50am</label><br>

<input type="checkbox" id="morning2" name="appointment[time]" value="10">
<label for="morning2">10:00am-10:50am</label><br>

<input type="checkbox" id="morning3" name="appointment[time]" value="11">
<label for="morning3">11:00am-11:50am</label><br>

<input type="checkbox" id="afternoon1" name="appointment[time]" value="12">
<label for="afternoon1">12:00pm-12:50pm</label><br>

<input type="checkbox" id="afternoon2" name="appointment[time]" value="13">
<label for="afternoon2">1:00pm-1:50pm</label><br>

<input type="checkbox" id="afternoon3" name="appointment[time]" value="14">
<label for="afternoon3">2:00pm-2:50pm</label><br>

<input type="checkbox" id="afternoon4" name="appointment[time]" value="15">
<label for="afternoon4">3:00pm-3:50pm</label><br>

<input type="checkbox" id="afternoon5" name="appointment[time]" value="16">
<label for="afternoon5">4:00pm-4:50pm</label><br>

<input type="checkbox" id="afternoon6" name="appointment[time]" value="17">
<label for="afternoon6">5:00pm-5:50pm</label><br>
</div>

<div>
<label for="appointment-type"><h2>Choose Appointment Type</h2></label>
<select name="appointment[name]">
    <option value="">--Please choose an option--</option>
    <option value="Drum Lesson" name="drum">Drum Lesson</option>
    <option value="Guitar Lesson"name="guitar">Guitar Lesson</option>
    <option value="Piano Lesson" name="piano">Piano Lesson</option>
</select><br><br>
</div>

<div>
<% if is_teacher? %>
<h2>Please Choose a Student</h2>
<select name="student[name]">
    <option value="">--Please choose an option</option>
    <% Student.all.each do |student| %>
    <option value="<%= student.name %>"><%= student.name%></option>
    <% end %>
</select>
<% elsif is_student? %>
<h2>Please Choose a Teacher</h2>
<select name="teacher[name]">
    <option value="">--Please choose an option--</option>
    <% Teacher.all.each do |teacher| %>
    <option value="<%= teacher.name %>"><%= teacher.name %></option>
    <% end %>
</select>
<% else %>
    <h2>Log in to View</h2>
<% end %>
</div><br>

<input type="submit" value="Submit">
</form>
    
    