<h1>Single Appointment for <%= @student.name.capitalize %></h1>
<h2>Week Number: <%=@appointment.week_number %></h2><br>
<h3>Lesson Type: <%=@appointment.name%></h3><br>
<h4>Date: <%=@appointment.start.strftime("%B %d, %Y")%></h4><br>
<h4>Start Time: <%=@appointment.start.strftime("%I:%M %p")%></h4><br>
<h4>End Time: <%=@appointment.end.strftime("%I:%M %p")%></h4><br>

<form method="GET" action="/appointments/<%= @appointment.id %>/edit">
<input type="submit" name="submit" value="Edit">
</form><br>

<form method="POST" action="/appointments/<%= @appointment.id %>/delete">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" name="submit" value="Delete">
</form><br>





